<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmitAltCad()">
          <p class="titulo">Alterar sua Postagem</p>
          <mat-form-field class="full-width-input">
            <input type="hidden" formControlName="_id" value="{{data?._id}}">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Titulo</mat-label>
              <input matInput  placeholder="titulo" formControlName="titulo"  value="{{data?.titulo}}" required/>
              <mat-error *ngIf="isFieldInvalid('titulo')">
                Informar um Titulo
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Edite sua postagem</mat-label>
                <textarea matInput placeholder="Hoje é dia de escrever sobre..." formControlName="postagem" required></textarea>
                <mat-error *ngIf="isFieldInvalid('postagem')">
                  Informar uma postagem!
                </mat-error>
            </mat-form-field>


            <h4>Tema</h4>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Selecione</mat-label>
              <mat-select formControlName="tema">
                <mat-option *ngFor="let item of tema$"  value="{{item._id}}">{{item.nome}}</mat-option>                
              </mat-select>
              <mat-error *ngIf="isFieldInvalid('tema')">
                Selecione um tema!
              </mat-error>
            </mat-form-field>
              
          </mat-form-field>
          <button class="tamanho" mat-raised-button color="primary">Aterar</button>
          <a class="tamanho" mat-raised-button color="primary" (click)='FechaTudo()'>Sair</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
